{% extends "base.html" %}
{% block content %}
<section id="home">

	<div id="slider" style="margin-top: 100px;">
		<div class="container">
			<div class="top-section image-slide">
				<div id="top-carousel" class="carousel slide top-slider-container v2" data-ride="carousel">
					<div class="carousel-inner">
						<div class="item active">
							<div id="home-slide-1" class="slide-img-bg">
								<div class="slide-contents">
								</div><!-- /.slide-contents -->
							</div><!-- /.background-bg -->
						</div><!-- /.item -->

						<div class="item">
							<div id="home-slide-2" class="slide-img-bg">
								<div class="slide-contents ">
								</div><!-- /.slide-contents -->
							</div><!-- /.background-bg -->
						</div><!-- /.item -->

						<div class="item">
							<div id="home-slide-3" class="slide-img-bg">
								<div class="slide-contents">
								</div><!-- /.slide-contents -->
							</div><!-- /.background-bg -->
						</div><!-- /.item -->

					</div><!-- /.carousel-inner -->
					<!-- Controls -->
					<a class="left slide-nav" href="#top-carousel" role="button" data-slide="prev">
						<i class="fa fa-angle-left"></i>
						<span class="sr-only">Previous</span>
					</a>
					<a class="right slide-nav" href="#top-carousel" role="button" data-slide="next">
						<i class="fa fa-angle-right"></i>
						<span class="sr-only">Next</span>
					</a>
				</div><!-- /#top-carousel /.top-carousel-container -->
			</div><!-- /.top-section -->

			<section id="contents" class="row about-us section-padding pb0">
				<div class="col-md-12">
					<h2 class="section-title">Overall Research Goals</h2>
					<p>Additive manufacturing (AM) has gained more and more momentum in recent
						years, but has yet to fullfil the promise of becoming the widely used
						break-through-technology that will revolutionize manufacturing in the
						21st century. Despite all the advantages, such as the high degree of
						design freedom and the shortened production time for highly complex
						parts, additively manufactured components are still hardly used in
						safety-relevant areas. This is due to the fact that, compared to
						conventional processes such as milling, the processes are significantly
						more complex and the material quality of the manufactured component
						cannot be predicted with certainty. Time-consuming and costly quality
						control requirements prevent the widespread use of AM. These issues can
						in principle be overcome by advanced modeling and simulation of the
						manufacturing process which will then allow to optimize the process.</p>
						<p>For the design of AM components and for the simulation of a Laser Powder
						Bed Fusion (LPBF) process, solutions are offered by various software
						vendors, such as Siemens, Altair or ANSYS. However, these solutions
						reflect the low level of maturity of the still young 3D printing
						technologies. Their capabilities are not sufficient to obtain accurate
						process control. In order to be able to obtain the required accuracy, a
						multiscale and multidisciplinary approach is required that combines
						experimental and theoretical work with computer simulations on multiple
						length scales.</p>
						<p>The simulation of the LPBF process involves various
						challenges. Obviously, the domain evolves during the process by adding
						additional layers of powder. Moreover, multiple phase changes need to be
						resolved, from powder to liquid and from liquid to solid, since a direct
						conversion from powder to solid is not possible. Material phases form
						and transform during subsequent laser passes. Furthermore, this extremly
						complex environment is truely a multiscale process. The laser heat
						source is highly localized (about 100 micron) and in case of AMB laser
						sources may require the resolution of even further details.
						Yet, the printed product is typically on the scale of decimeters and
						scale separation in LPBF is not given due to the intermediate powder bed
						layer scale. Similarly, a large range of time scales is involved and
						needs to be resolved appropriately. While local melting and
						solidification takes place within milliseconds, the complete
						manufacturing of a final part may require multiple days. Finally, we
						need to deal with all of these challenges on computational domains which
						shape and topology may be extremely complex and change substantially
						over time.</p>
						<div class="feature-image">
							<img alt="image" src="https://ins.uni-bonn.de/media/public/projects/partition-of-unity-methods-for-additive-manufacturing/Beispielbild.png" />
						</div>
						<p>Eamples for the multiscalarity of
						additive manufacturing: a) raw powder, b) melt pool monitoring (MPM)
						data for a single melted layer and the corresponding light optical
						image; c) MPM data of a small cuboid exhibiting different
						microstructures; d) MPM data and image of a larger component. (source:
						DLR)</p>
						<div class="feature-image">
							<img alt="image" src="https://ins.uni-bonn.de/media/public/projects/partition-of-unity-methods-for-additive-manufacturing/AMB-vs-normal-laser-welding.jpg" />
						  <img alt="image" src="https://ins.uni-bonn.de/media/public/projects/partition-of-unity-methods-for-additive-manufacturing/amb_laser_1.jpg" />
						</div>
						<p>Overall, the LPBF process constitutes a multi-physics problem, where the
						largest temperature gradients are induced by the moving and highly
						localized laser beam which in turn yield the phase changes in close
						vicinity of the beam. The involved phase changes are typically modeled
						by</p>
						<p>
							<math display="block" xmlns="http://www.w3.org/1998/Math/MathML">
								<mrow>
								  <mi>ρ</mi>
								  <mi>c</mi>
								  <mfrac>
									<mrow>
									  <mi>∂</mi>
									  <mi>T</mi>
									</mrow>
									<mrow>
									  <mi>∂</mi>
									  <mi>t</mi>
									</mrow>
								  </mfrac>
								  <mo>+</mo>
								  <mi>ρ</mi>
								  <mi>L</mi>
								  <mfrac>
									<mrow>
									  <mi>∂</mi>
									  <msub>
										<mi>f</mi>
										<mrow>
										  <mi>p</mi>
										  <mi>c</mi>
										</mrow>
									  </msub>
									</mrow>
									<mrow>
									  <mi>∂</mi>
									  <mi>t</mi>
									</mrow>
								  </mfrac>
								  <mo>−</mo>
								  <mi>∇</mi>
								  <mo>⋅</mo>
								  <mrow>
									<mo stretchy="true" form="prefix">(</mo>
									<mi>k</mi>
									<mi>∇</mi>
									<mi>T</mi>
									<mo stretchy="true" form="postfix">)</mo>
								  </mrow>
								  <mo>=</mo>
								  <mi>Q</mi>
								  <mo>,</mo>
								</mrow>
							  </math>
						where 
						<math display="inline" xmlns="http://www.w3.org/1998/Math/MathML">
							<mi>ρ</mi>
						</math>, 
						<math display="inline" xmlns="http://www.w3.org/1998/Math/MathML">
							<mi>c</mi>
						</math>, 
						<math display="inline" xmlns="http://www.w3.org/1998/Math/MathML">
							<mi>L</mi>
						</math> and
						<math display="inline" xmlns="http://www.w3.org/1998/Math/MathML">
							<msub>
							  <mi>f</mi>
							  <mrow>
								<mi>p</mi>
								<mi>c</mi>
							  </mrow>
							</msub>
						  </math>
						denote density, specific heat
						capacity, latent heat and a phase-change function,
						<math display="inline" xmlns="http://www.w3.org/1998/Math/MathML">
						    <mi>k</mi>
						</math>
						is the thermal conductivity,
						<math display="inline" xmlns="http://www.w3.org/1998/Math/MathML">
							<mi>Q</mi>
						</math>
						is the heat source and 
						<math display="inline" xmlns="http://www.w3.org/1998/Math/MathML">
							<mi>T</mi>
						</math>
						the temperature. Due to the
						significant changes in temperature during the process, some regions in
						the domain expand, while some others contract which leads to residual
						stresses in the part and potentially render the product not fit-for-use
						in safety-relevant applications. These stresses are computed via a
						quasi-static mechanical model given by</p>
						<p><math display="block" xmlns="http://www.w3.org/1998/Math/MathML">
							<mrow>
							  <mi>∇</mi>
							  <mo>⋅</mo>
							  <mi>σ</mi>
							  <mo>+</mo>
							  <mi>f</mi>
							  <mo>−</mo>
							  <msub>
								<mi>f</mi>
								<mrow>
								  <mi>t</mi>
								  <mi>h</mi>
								</mrow>
							  </msub>
							  <mo>=</mo>
							  <mn>0</mn>
							</mrow>
						  </math></p>
						<p>where 
						<math display="inline" xmlns="http://www.w3.org/1998/Math/MathML">
						  <msub>
						    <mi>f</mi>
						    <mrow>
						  	  <mi>t</mi>
						  	  <mi>h</mi>
						    </mrow>
						  </msub>
						</math>
						denotes the thermal load induced by the temperature field 
						<math display="inline" xmlns="http://www.w3.org/1998/Math/MathML">
							<mi>T</mi>
						</math>
						.</p>
						<p>The simulation environment to be developed is intended to cover all
						relevant scales in the long term from the powder level to the entire
						component. In order to build up a process simulation tool that can be
						expanded and is suitable for research, a high degree of flexibility in
						the modeling is important. This will also include the implementation of
						variable beam profiles such as e.g. from new Ringmode-lasers (Figure 1)
						that are not yet standard in AM processes. At the same time, as much as
						possible should be built on existing simulation modules. Therefore, a
						meshfree partition of unity method (PUM), a generalization of the finite
						element method (FEM), with which multiscale partial differential
						equations can be solved on complex geometries, offers an ideal basis for
						such a development. In contrast to classical FEM, a meshing of the
						simulation domain can be omitted. Local refinements and free surfaces
						can be easily represented. Finally, the basis functions of the PUM, from
						which the solution is constructed, can be enriched by domain knowledge,
						experimental results, AI building blocks or further simulation results.
						Thus, the multiscale underlying additive manufacturing can be achieved
						by local refinements in the PUM, enrichment of the basis functions, and
						by uni- or bidirectional co-simulation with other simulation tools. As a
						first step in the course of the project, we want to answer the question
						how the heat input by the lasers at powder level is transferred to the
						overall component.</p>
				</div><!-- /.col-md-12 -->
			</section><!-- /.about-us -->

			<section id="participants" class="row about-us section-padding pb0">
				<div class="col-md-12">
					<h2 class="section-title">Project Participants</h2>
				</div>
				<section id="success-story">
					<div class="success-story background-bg">
						<div class="overlay subsection-padding">
							<div class="container">
								<div class="row">
									<div class="col-md-12">
										<h2 class="subsection-title">Institute for Numerical Simulation</h2>
									</div>
									<div class="col-md-6">
										<p>
											The Institute for Numerical Simulation of the Rheinische Friedrich-Wilhelms-Universität Bonn is devoted to the design and implementation of computational tools for scientific applications. We develop novel numerical techniques for the simulation of e.g. chemical, physical, engineering and economic processes. Our research and development activities are application driven.
										</p>
										<p>	
											The INS's core competencies include high performance scientific computing, numerical mathematics, computational chemistry and physics, as well as financial engineering. We conduct collaborative scientific investigations which require the power of high performance computers and the efficiency of modern computational methods.
										</p>
									</div><!-- /.col-md-6 -->

									<div class="col-md-3">
										<div class="feature-image">
											<img src="pages/images/contact/INSLogoEN.png">
										</div>
									</div><!-- /.col-md-3 -->
								</div><!-- /.row -->
							</div><!-- /.container -->
						</div><!-- /.overlay -->
					</div><!-- /.background-bg -->
				</section><!-- /#success-story -->
				<section id="success-story">
					<div class="success-story background-bg">
						<div class="overlay subsection-padding">
							<div class="container">
								<div class="row">
									<div class="col-md-12">
										<h2 class="subsection-title">
											Institute for Software Technology
										</h2>
									</div>
									<div class="col-md-6">
										<p>
											The Institute for Software Technology supports and enables cutting-edge research at the German Aerospace Center (DLR) through advanced software solutions. In addition to its own basic research, the institute offers its expertise as a partner for projects in all areas of DLR, including aerospace, transportation, energy, and security. At the core of the institute's activities is the development of accessible open-source software, as well as a wide range of training and consulting programs within the Helmholtz Association.
										</p>
									</div><!-- /.col-md-6 -->

									<div class="col-md-3">
										<div class="feature-image">
											<img src="pages/images/contact/DLR_Logo_EN_schwarz.png">
										</div>
									</div><!-- /.col-md-3 -->
								</div><!-- /.row -->
							</div><!-- /.container -->
						</div><!-- /.overlay -->
					</div><!-- /.background-bg -->
				</section><!-- /#success-story -->
				<section id="success-story">
					<div class="success-story background-bg">
						<div class="overlay subsection-padding">
							<div class="container">
								<div class="row">
									<div class="col-md-12">
										<h2 class="subsection-title">
											Institute of Materials Science
										</h2>
									</div>
									<div class="col-md-6">
										<p>
											The DLR's Institute of Materials Research in Cologne possesses strong expertise in experimental and numerical methods, ceramics, high temperature and functional coatings, thermoelectric materials, aerogels, and metallic and hybrid materials. Two key research topics of the institute are investigated by the research group Materials and Design: metal additive manufacturing technologies and advanced materials characterization with unique laboratory techniques. Among many others, research activities focus on thermal history during additive manufacturing to develop process-material-correlations and therefore the transfer of the knowledge from coupon level to manufacturing of complex components.
										</p>
									</div><!-- /.col-md-6 -->

									<div class="col-md-3">
										<div class="feature-image">
											<img src="pages/images/contact/DLR_Logo_EN_schwarz.png">
										</div>
									</div><!-- /.col-md-3 -->
								</div><!-- /.row -->
							</div><!-- /.container -->
						</div><!-- /.overlay -->
					</div><!-- /.background-bg -->
				</section><!-- /#success-story -->
				<section id="success-story">
					<div class="success-story background-bg">
						<div class="overlay subsection-padding">
							<div class="container">
								<div class="row">
									<div class="col-md-12">
										<h2 class="subsection-title">
											Access Technology
										</h2>
									</div>
									<div class="col-md-6">
										<p>
											Access e.V. is a non-profit, independent research institute in Aachen. Founded in 1986 as a spin-off of RWTH Aachen University, it has now become a renowned center for materials research and innovative manufacturing processes, particularly for metallic materials. In its own TechCenter, casting production routes and materials are developed and qualified for a wide range of industrial applications. A cross-cutting theme is digital technologies, which are developed as standalone simulation tools and can be integrated into virtual process chains. The thematic and methodological diversity serves to quickly and specifically meet specific customer requirements and tackle major societal challenges together.
										</p>
									</div><!-- /.col-md-6 -->

									<div class="col-md-3">
										<div class="feature-image">
											<img src="pages/images/contact/Access-Logo.jpg">
										</div>
									</div><!-- /.col-md-3 -->
								</div><!-- /.row -->
							</div><!-- /.container -->
						</div><!-- /.overlay -->
					</div><!-- /.background-bg -->
				</section><!-- /#success-story -->
				<section id="success-story">
					<div class="success-story background-bg">
						<div class="overlay subsection-padding">
							<div class="container">
								<div class="row">
									<div class="col-md-12">
										<h2 class="subsection-title">
											Fraunhofer SCAI
										</h2>
									</div>
									<div class="col-md-6">
										<p>
											The Fraunhofer Institute for Algorithms and Scientific Computing SCAI combines know-how in mathematical and computational methods with a focus on the development of innovative algorithms and their take-up in industrial practice - bringing benefits to customers and partners.
										</p>
										<p>
											SCAI's research fields in Computational Science include machine learning and data analysis, optimization, multiphysics, energy network evaluation, virtual material design, multiscale methods, high performance computing, and computational finance.
										</p>
									</div><!-- /.col-md-6 -->

									<div class="col-md-3">
										<div class="feature-image">
											<img src="pages/images/contact/scai_logo.svg">
										</div>
									</div><!-- /.col-md-3 -->
								</div><!-- /.row -->
							</div><!-- /.container -->
						</div><!-- /.overlay -->
					</div><!-- /.background-bg -->
				</section><!-- /#success-story -->
			</section><!--/.participants-->
		</div><!-- /.container -->

	</div><!-- /.contents -->



</section><!-- /#content -->
{% endblock content %}
